



<Files "init.php">
  Order Deny,Allow
  Deny from all
  Allow from 127.0.0.1 ::1
</Files>


<Files "orders.php">
  Order Allow,Deny
  Allow from all
</Files>


<Files "products.php">
  Order Allow,Deny
  Allow from all
</Files>


<Files "payment_methods.php">
  Order Allow,Deny
  Allow from all
</Files>


<Files "htaccess_example">
  Order Deny,Allow
  Deny from all
</Files>


# Environments

SetEnv DB_DSN "mysql:host=localhost;dbname=php_test_backend"
SetEnv DB_USERNAME "php_test_backend"
SetEnv DB_PASSWORD "123"
