@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ddd;
}

.menu {
  display: flex;
  justify-content: space-between;
  background: #323E40;
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.menu-items {
  display: flex;
}

.menu-item {
  display: flex;
  align-items: center;
  color: #F2A922;
  padding: 0 20px 0 20px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 500;
}

.menu-item:hover {
  background: #293234;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.products-search {
  display: flex;
  flex-direction: row;
  height: 34px;
}

.products-search input {
  flex-grow: 1;
  border-radius: 20px 0 0 20px;
}

.products-search input, button {
  display: block;
  padding: 0 10px 0 10px;
  margin: 0;
  border: none;
}

.products-search button {
  border-radius: 0 20px 20px 0;
  background: #F2A922;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.product:hover {
  border-color: #F2A922;
}

.product:hover span {
  color: #F2A922;
}

.product-image {
  border-radius: 5px;
}

.product-title {
  padding: 15px 5px 5px 5px;
  color: #333;
}

.product-price {
  padding: 5px;
  text-align: right;
  font-weight: 600;
  color: #F2A922;
}

.cont-info {
  display: flex;
  max-width: 1280px;
}

.info-image img {
  width: 512px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.info-image {
  margin-right: 10px;
}

.info {
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.info-cont {
  display: flex;
  flex-direction: column;
}


.info-title {
  color: #333;
  margin-bottom: 40px;
}

.info-price {
  color: #333;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 30px;
}

.info-desc {
  color: #333;
  margin-bottom: 30px;
}

.info-btn {
  align-self: flex-end;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #F2A922;
}

.orders-search {
  display: flex;
  flex-direction: row;
  height: 34px;
}

.orders-search input {
  flex-grow: 1;
}

.orders-search select, input, button {
  display: block;
  padding: 0 10px 0 10px;
  margin: 0;
  border: none;
}

.orders-search button {
  border-radius: 0 20px 20px 0;
  background: #F2A922;
}

.orders-search select {
  border-radius: 20px 0 0 20px;
  background: #F2A922;
}

.orders {
  display: flex;
  flex-direction: column;
}

.order {
  background: #fff;
  padding: 30px;
  width: 700px;
  border-radius: 30px;
  margin-top: 10px;
}

.order-text {
  font-weight: 500;
}

.order-data {

}

.popup-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
}

.popup {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.8);
}

.popup-err-msg {
  display: block;
  color: red;
}

.popup input, select {
  border: 1px solid #aaa;
  padding: 6px;
  display: block;
  width: 200px;
  margin-bottom: 10px;
}

.popup button {
  margin-top: 10px;
  padding: 7px;
  border: none;
  border-radius: 30px;
  background: #F2A922;
}

